* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    width: 100%;
    background: url(foggy.light.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box {
    position: ;
    width: 380px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #fff;*/
    border-radius: 30px;
}

.form-value h2 {
    color: #fff;
    font-size: 2em;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width:280px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    transition: 1s;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    font-size: 1em;
    padding-bottom: 1px;
    color: #fff;
}


input:focus~label,
input.focus~:valid {
    top: -1px;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    top: 15px;
    color: #fff;
    font-size: 1.5em;
}

.forget {
    padding: -15px 0px 15px;
    font-size: 1.1em;
    color: #fff;
    display: flex;
    justify-content: center;
}



.forget a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    width: 150px;
    height: 20px;
    
    text-align: center;
    margin-left:30px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.forget a:hover {
    text-decoration:;
    color:;
    text-shadow:0px 0px 5px red,0px 0px 10px red,0px 0px 20px red;
}

#btn {
    background-color: #fff;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 40px 0px 30px 0px;
    cursor: pointer;
    font-weight: 600;
}

#btn:hover {
    box-shadow: 0px 0px 20px #9df5f0, 0px 0px 30px rgb(161, 207, 221);

}

.register p {
    color: #fff;
    font-size: 1.1em;
}

.register a {
    color: #fff;
    font-size: 1.1em;
    margin-left: 40px;
    text-decoration: none;
}

.register a:hover{
    color:#fff;
    text-shadow:0px 0px 5px red,0px 0px 10px red,0px 0px 20px red;
}
